
- var pageTitle = page.title || config.subtitle || ''

doctype html
html(lang=config.language)
  head
    meta(charset='UTF-8')
    title= pageTitle
    link(rel='stylesheet', href='http://obfnm2kw5.bkt.clouddn.com/normalize.css')
    if theme.stylesheets !== undefined && theme.stylesheets.length > 0
      each url in theme.stylesheets
        link(rel='stylesheet', href=url)
    link(rel="icon", href=config.root + 'images/favicon.ico')
  body
    div.content
      block content
    div.footer
        div.footer-copyright
          | Theme By 
          a(href="https://github.com/shinux/hexo-theme-adoubi")="Adoubi"
          |  , Powered By Hexo. 
          a.feed-link(href="/atom.xml")
           img.feed-image(src="/images/feed.png")
