
- var pageTitle = page.title || config.subtitle || ''

doctype html
html(lang=config.language)
  head
    meta(charset='UTF-8')
    title= pageTitle
    link(rel='stylesheet', href='/css/normalize.css')
    <link rel="stylesheet" href="/css/heti.min.css">

    if theme.stylesheets !== undefined && theme.stylesheets.length > 0
      each url in theme.stylesheets
        link(rel='stylesheet', href=url)
    link(rel="icon", href=config.root + 'images/favicon.ico')
  body
    div.header
      a.github-link(href=theme.github)
        img.github-image(src=config.root + 'images/Aquicon-Github-small.png')
      a.email-link(href='mailto:' + theme.email)
        img.email-image(src=config.root + 'images/email-small.png')
      a.subscribe-link(href="/atom.xml")
        img.subscribe-image(src=config.root + 'images/subscribe-small.png')
    div.content
      block content
    div.footer
        div.footer-copyright
          | Theme By 
          a(href="https://github.com/shinux/hexo-theme-adoubi")="Adoubi"
          |  , Powered By Hexo.
